body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system,Helvetica,sans-serif;
    color: #666;
    line-height: 1.5;
}

/*点击高亮我们需要清除，设置为transparent完成透明*/
*{
    -webkit-tap-highlight-color: transparent;
}

/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
input{
    -webkit-appearance: none;
}
/*禁用长按页面时的弹出菜单*/
img,a{
    -webkit-touch-callout: none;
}

a{
    color: #666;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

div{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

/*加了一个空的块元素同时清除了浮动，不加看起来也没啥副作用*/
.clearfix:after{
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}

.app{
    height: 45px;
}

.app ul li{
    float: left;
    height: 45px;
    line-height: 45px;
    background-color: #333333;
    text-align: center;
    color: #fff;
}

/*右边有个小的白色竖线，怎么去掉，放大的时候没感觉，缩小之后就有了*/
.app ul li:nth-child(1){
    width: 8%;
}

.app ul li:nth-child(2){
    width: 10%;
}

.app ul li:nth-child(3){
    width: 57%;
}

.app ul li:nth-child(4){
    width: 25%;
    background-color: #F63515;
}

.app ul li:nth-child(1) img{
    width: 10px;
}

.app ul li:nth-child(2) img{
    width: 30px;
}

/*搜索*/
.search_wrap{
    position: fixed;
    /*overflow:hidden;*/
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 640px;
}

.search_btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

/*display: block;和position: absolute;效果差不多*/
.search_btn:before{
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url("../images/s-btn.png") no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search_login{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    color: #fff;
    line-height: 44px;
}

/*绝对定位在没有内容的时候要设置宽高，不然显示不出来，相对定位继承父元素的*/
.search{
    position: relative;
    height: 30px;
    background-color: #fff;
    margin: 7px 50px 0 50px;
    border-radius: 15px;
}

.jd_icon{
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 13px;
    background: url("../images/jd.png") no-repeat;
    background-size: 20px 15px;
}

.jd_icon:after{
    content: "";
    /*pink老师写的还有display: block;*/
    /*display: block;*/
    position: absolute;
    right: -8px;
    top: 0;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.sou{
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    background: url("../images/jd-sprites.png") no-repeat -81px 0;
    background-size: 200px auto;
}

/*主体内容*/
/*图片*/
.slider img{
    width: 100%;
}

/*品牌日*/
.brand{
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.brand div{
    float: left;
    width: 33.33%;
}

.brand div img{
    width: 100%;
}

/*nav*/

nav{
    padding-top: 5px;
}

nav a{
    float: left;
    width: 20%;
    text-align: center;
}

nav a img{
    width:40px;
    margin: 10px 0;
}

nav a span{
    display: block;
}

/*news*/

.news{
    margin-top: 20px;
}

.news a{
    /*不加也没事，但是不知道怎么变成块级元素的*/
    display: block;
    float: left;
    box-sizing: border-box;
}

.news img{
    width: 100%;
}

.news a:nth-child(1){
    width: 50%;
}

/*就是第二个往后选*/
.news a:nth-child(n+2){
    width: 25%;
    border-left: 1px solid #ccc;
}