ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    color: #666;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

body{
    background-color: #f5f5f5;
}

.container{
    background-color: #fff;
}

/* 修改container的最大宽度为1280，根据设计稿来走的 */
@media screen and (min-wideh:1280px){
    .container{
        width: 1280px;
    }
}

/* 左边 */
.logo img{
    display: block;
    /* width: 100%; */
    max-width: 100%;
    margin: 0 auto;
}

/* 如果我们进入超小屏幕，logo图片隐藏 */
/* 我们事先准备好一个盒子 在logo里面，它平时是隐藏起来的，只有在超小屏幕下显示 */
.logo span{
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

header{
    padding-left: 0!important;
}

.logo{
    background-color: #429ad9;
}

.nav{
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding-left: 30px;
}

.nav a:hover{
    background-color: #fff;
    color: #333;
}

.nav a::before{
    vertical-align: middle;
    padding-right: 5px;
}

/*当我们进入 小屏幕 还有 超小屏幕的时候 我们 nav 里面的li 浮动起来 并且宽度为 20%  */
@media screen and (max-width:991px){
    .nav li{
        float: left;
        width: 20%;
    }
    article{
        margin-top: 10px;
    }
}

/* 当我们进入 超小屏幕的时候 我们 nav 文字会变成14px  */
@media screen and (max-width:767px){
    .nav li a{
        font-size: 14px;
        padding-left: 3px;
    }
    /* 当我们处于超小屏幕 news 第一个li 宽度为 100%  剩下的小li  各 50% */
    .new li:nth-child(1){
        width: 100%!important;
    }
    .new li{
        width: 50%!important;
    }
    .publish h3{
        font-size: 14px;
    }
}

/* 中间 */
article{
    padding-right: 0!important;
}

.news li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news li{
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news li:nth-child(1){
    width: 50%;
    height: 266px;
}

.news li a img{
    width: 100%;
    height: 100%;
}

/* 权重比下面的高 */
.news li:nth-child(1) p{
    line-height: 41px;
    font-size: 20px;
    padding:0 10px;
    height: 41px;
}

.news li a p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 0;
    background: rgba(0, 0, 0, .5);
    font-size: 12px;
    color: #fff;
}

.publish{
    border-top: 1px solid #ccc;
}

.publish .row{
    border-bottom: 1px solid #ccc;
    padding:10px 0;
}

.poc{
    margin-top: 10px;
}

.pic img{
    width:100%;
}

/* 右边 */
aside{
    padding-right: 0!important;
}

.banner img{
    width: 100%;
}

.hot{
    display: block;
    margin-top: 20px;
    padding: 0 20px 20px;
    border: 1px solid #ccc;
}

.hot span{
    border-radius: 0;
}

.hot p {
    font-size: 12px;
}